@use 'base/variables' as v;
@use 'base/mixins' as m;

.acciones {
    margin: 4rem 7rem 2rem 7rem;
    padding: 1rem 3rem;

    @include m.telefono {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
    }

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
    }

    span {
        padding-top: 0;
        @include m.telefono {
            text-align: center;
        }
    }

    a {
        font-style: italic;
        color: v.$blanco;
        display: block;
        margin-bottom: calc(v.$separacion / 2);
        text-align: center;
        // padding: calc(v.$separacion / 2) calc(v.$separacion / 2);
        transition: color 300ms ease;
        color: v.$blanco;

        &:hover {
            color: v.$azul;

        }

    }
    .enlaces_auth{
        color: v.$fucsia;
    }

}