@use 'base/variables' as v;

.alerta {
    padding: calc(v.$separacion / 6);
    color: v.$rojo;
    width: 70%;
    display: block;
    margin:2rem auto;
    text-align: center;
    font-weight: v.$bold;
    font-style: italic;
    border-radius: 0.5rem;
    // text-transform: uppercase;

    &.error {
        background-color: v.$rosa;
    }
    &.exito {
        background-color: v.$verde;
        color: v.$blanco;
    }
}