@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    // margin-top: 3rem;
    margin: 3rem auto;
    padding:auto;
    width: 70%;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }
    label::after{
        content: " * ";
		color: red;
    }
    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 5);
        border-radius: 1rem;

        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }
}