// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 767px;
$tablet: 768px;
$desktop: 1024px;

// Colores
// $azul: #00AABB;
$azul: #028090;
$rojo: #B00020;
$fucsia:#d81159;
$rosa: #f3acac;
//$verde:#329f00;
$verde:#04AA6D;
$negro: #1a1b15;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 4rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900