@use 'base/variables' as v;
@use 'base/mixins' as m;
$bk1: 700px;

// .nombre-pagina{
//     margin: 0;
// }
.info_empresa {

    ul {
        list-style: none;

        li {
            margin-bottom: 10px;
            i{
                margin-right: 10px;
            }
        }
    }
    @include m.telefono{
        font-size: 1.3rem;
    }
}

textarea {
    width: 100%;
    resize: none;
    border-radius: 1rem;
}