@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {

    .imagen {
        height: 25rem;
        background-image: url(../img/imagen1.jpg);
        background-size: cover;
        background-position: center center;

        @include m.telefono {
            height: 30rem;
        }

        @include m.tablet {
            height: 35rem;
        }

        @include m.desktop {
            height: 100vh;
        }

    }

    .app {
        width: 100%;
        margin: 0 auto;
        padding:2rem;

        @include m.telefono {
            padding-bottom: 1rem;
        }

        @include m.tablet {
            overflow: scroll;
        }
    }

    @include m.tablet {
        display: flex;
        flex-direction: column;
    }

    @include m.desktop {
        display: grid;
        // // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: 1fr 55%;
        min-height: 100vh;
    }
}

.barra {
    margin: v.$separacion 0;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
         align-items: flex-end;
    }

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    span {
        color: v.$azul;
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
        transition: color 300ms ease;

        &:hover {
            background-color: v.$negro;
            color: v.$azul;
        }
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-around;
    }

    .boton {
        margin: 0 0 1rem 0;
    }
}